.sign-in-btn {
    &:before {
        content: url('../images/svg/user.svg');
        display: inline-block;
        margin-top: 0.2rem;
        margin-right: 0.4rem;
    }
}

.search-btn-main {
    background: #313030;
    position: relative;
    border-bottom: 1px dotted black;
}

.search-mic-icon {
    background: #181818;
    min-height: 35px;
}