.open-menu-wrapper, .closed-menu-wrapper {
    margin-top: 0.5rem;
}

#menu-sidebar-closed-menu {
    //Current Nav menu item
    .current-menu-item {
        background: $bg-dark;

        &:hover {
            background:#686868; 
        }
    }
}
//Set these as class names in WP admin -> Menus
.open-nav-btn {
    a {
        display: flex;
        padding: 0.5rem 1rem;
    }
    &:hover {
        background: #383939;
    }
}

.closed-nav-btn {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 0.55rem;
        background: $bg-dark;
    }
    &:hover {
        background: #383939;
    }
}

//Current Nav menu item
.current-menu-item {
    background: #383939;

    &:hover {
        background:#686868; 
    }
}

.open-menu-item {
    margin-right: 0.7rem;
    &.home {
        a {
            &:before {
                content: url('../images/svg/home.svg');
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
    }

    &.shorts {
        a {
            &:before {
                content: url('../images/svg/shorts.svg');
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
    }

    &.subs {
        a {
            &:before {
                content: url('../images/svg/subs.svg');
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
    }

    &.library {
        a {
            &:before {
                content: url('../images/svg/library.svg');
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
    }
}

.closed-menu-item {
    a {
        background: #212428;

        &:hover {
            background: $bg-secondary;
        }
    }
    &.home {
        a {
            &:before {
                content: url('../images/svg/home.svg');
                display: inline-block;
            }
        }
    }

    &.shorts {
        a {
            &:before {
                content: url('../images/svg/shorts.svg');
                display: inline-block;
            }
        }
    }

    &.subs {
        a {
            &:before {
                content: url('../images/svg/subs.svg');
                display: inline-block;
            }
        }
    }

    &.library {
        a {
            &:before {
                content: url('../images/svg/library.svg');
                display: inline-block;
            }
        }
    }
}